/* Adding blur-behind to Gmail*/
:root {
  --noise: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.5' numOctaves='5' result='t'/%3E%3CfeSpecularLighting surfaceScale='0.5' specularConstant='6' specularExponent='30' in='t' result='s'%3E%3CfeDistantLight azimuth='20' elevation='132'/%3E%3C/feSpecularLighting%3E%3CfeGaussianBlur stdDeviation='0.4' in='s'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.02'/%3E%3C/svg%3E");
}

/* Main */
/* Main part, might be changed over time */
div:has(> [class="AO"]) {
  background-image: var(--noise);
  background-blend-mode: overlay;
  backdrop-filter: blur(50px) saturate(1.75);
}

[role="menu"] {
  background-image: var(--noise);
  background-blend-mode: overlay;
  backdrop-filter: blur(25px) saturate(2.5);
}

/* Right nav */
div[data-tooltip][data-tooltip-align="r"][class*=" "]:hover,
div[data-tooltip][data-tooltip-align="r"][class*=" "]:has(a[tabindex="0"]),
div:has(> span[role="button"]:focus),
div:has(> span[role="button"]:hover) {
  background-image: var(--noise);
  background-blend-mode: overlay;

  backdrop-filter: blur(10px) saturate(1.5);
}
